<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit Task</title>

    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/main.css">

    <style>
        h3 {
            position: relative;
            display: inline-block;
            margin-bottom: 1em;
            color: #545273;
        }
        h3:before {
            content: '';
            position: absolute;
            bottom: -15px;
            display: inline-block;
            width: 60px;
            height: 5px;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            background-color: #545273;
            border-radius: 2px;
        }
    </style>

</head>

<body>

<div class="container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <div class="container-header  mb-5 row">
        <div class="col-md-3 text-start">
            <a href="/"><img src="/images/homeLogo.png" class="img-fluid" alt=""></a>
        </div>
    </div>
    <div class="card border-0 col col-8" style="margin: 0 auto;">
        <h3 class="card-title text-center mb-5">タスクを編集する</h3>

        <div class="card-body" style="box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;">
    <form id="editTaskForm" action="/update/<%= item.taskId %>" method="post">
        <div class="mb-5 form-group">
            <label for="taskIdInput" class="form-label   badge rounded-pill bg-light text-dark">タスクID</label>
            <input type="text" class="form-control" name="taskId" value="<%= item.taskId %>" id="taskIdInput">
        </div>

        <div class="mb-5 form-group">
            <label for="title" class="form-label   badge rounded-pill bg-light text-dark">タイトル</label>
            <input type="text" id="title" class="form-control" name="title" value="<%= item.title %>">
        </div>

        <%
        //String to yyyy-MM-dd item.startDay & item.finishDay
        function changeDate(dateObj) {
            var yyyy = dateObj.getFullYear();
            var MM = dateObj.getMonth() + 1;
            if (MM < 10) MM = '0' + MM;
            var dd = dateObj.getDate();
            var Date = yyyy + "-" + MM + "-" + dd;
            return Date;
        }
        %>
        <div class="row mb-5">
        <div class="col mb-3">
            <label for="startDay" class="form-label   badge rounded-pill bg-light text-dark">予定日</label>
            <input type="date" id="startDay" class="form-control" name="startDay" value="<%= changeDate(item.startDay) %>">
        </div>

        <div class="col mb-3">
            <label for="finishDay" class="form-label   badge rounded-pill bg-light text-dark">完了日</label>
            <input type="date" id="finishDay" class="form-control" name="finishDay" value="<%= changeDate(item.finishDay) %>">
        </div>
        </div>
        <div class="row mb-5">
            <div class="col mb-3">
        <label for="priRadios" class="form-label   badge rounded-pill bg-light text-dark"> 優先順位</label>
        <div id="priRadios">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="pri" id="inlineRadio1" value="1"
                <% if(item.priority == "1"){ %> checked
                        <% } %>>
                <label class="form-check-label" for="inlineRadio1">1</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="pri" id="inlineRadio2" value="2"
                <% if(item.priority == "2"){ %> checked
                        <% } %>>
                <label class="form-check-label" for="inlineRadio2">2</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="pri" id="inlineRadio3" value="3"
                <% if(item.priority == "3"){ %> checked
                        <% } %>>
                <label class="form-check-label" for="inlineRadio3">3</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="pri" id="inlineRadio4" value="4"
                <% if(item.priority == "4"){ %> checked
                        <% } %>>
                <label class="form-check-label" for="inlineRadio4">4</label>
            </div>
        </div>
            </div>
            <div class="col mb-3">
        <label for="stuRadios" class="form-label   badge rounded-pill bg-light text-dark"> 完成状態</label>
        <div id="stuRadios">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="stu" id="inlineRadio5"  value="0"
                <% if(item.status == "0"){ %> checked
                        <% } %>>
                <label class="form-check-label" for="inlineRadio5">未完了</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="stu" id="inlineRadio6" value="1"
                <% if(item.status == "1"){ %> checked
                        <% } %>>
                <label class="form-check-label" for="inlineRadio6">完了</label>
            </div>
        </div>
        </div>
        </div>
        <div class="text-center d-grid gap-2 d-md-flex">
        <input class="btn btn-outline-primary" type="button" value="Submit" onclick="sumbit_sure()">
        <a class="btn btn-outline-primaryy col" href="/" role="button">戻る</a>
        </div>
    </form>
        </div>
    </div>
</div>
<footer>
    <p>©2022 Dairui Zhang.</p>
</footer>
</body>
<script>
    function sumbit_sure(){
        var t = $('form').serializeArray();
        console.log(t);
        var empty = false;
        $.each(t, function(){
            if(this.value.length == 0){
                alert('all required!');
                empty = true;
                return false;
            }
        })
        if(empty){
            return false;
        }else{
            var comf = confirm("提出してもいいですか？");
            if (comf){
                $('form').submit();
                alert('更新しました！')
            }else{
                return false;
            }
        }

    }
</script>
</html>