<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Task Home</title>

    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
<nav class="navbar">
    <div class="container-fluid d-flex flex-row-reverse">
        <span class="navbar-text">こんにちは！<%= userID %>
            <a href="/logout" id="loggout" class="text-end" style="margin-left: 1.5em;">ログアウト</a>
        </span>
    </div>
</nav>

<div class="container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <div class="container-header mb-5 row">
        <div class="col-md-3 text-start">
            <a href="/"><img src="/images/homeLogo.png" class="img-fluid" alt=""></a>
        </div>

        <div class="newBtn d-grid gap-2  d-md-flex justify-content-md-end">
            <a href="/new" role="button" id="newBtn" class="btn btn-outline-primary col-md-3 offset-md-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg"
                     viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                </svg>
                新規タスクを登録する
            </a>
        </div>
    </div>


    <div class="card border-0">

        <!--TAB-->
        <div class="card-body" style="box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;">
            <ul class="nav nav-tabs nav-justified mb-5" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="uncompleted-tab" data-bs-toggle="tab"
                            data-bs-target="#uncompleted"
                            type="button" role="tab" aria-controls="uncompleted" aria-selected="true">未完了タスク
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="completed-tab" data-bs-toggle="tab" data-bs-target="#completed"
                            type="button"
                            role="tab" aria-controls="completed" aria-selected="false">完了タスク
                    </button>
                </li>
            </ul>
            <!--TAB　CONTENT-->
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="uncompleted" role="tabpanel"
                     aria-labelledby="uncompleted-tab">
                    <div id="empty-uncompleted" hidden="hidden" class="alert alert-light text-center" role="alert">
                        未完了タスクがありません。
                    </div>
                    <div class="table-responsive">
                        <table id="ucList" class="table table-hover table-borderless mb-5">
                            <tr>
                                <th scope="col"><input class="selectAll-uc" type="checkbox"/></th>
                                <th scope="col">タスクID</th>
                                <th scope="col">タイトル</th>
                                <th scope="col">予定日</th>
                                <th scope="col">完了日</th>
                                <th scope="col">優先順位 <a tabindex="0" id="priMeaning"
                                                        class="badge rounded-pill bg-light text-dark" role="button"
                                                        data-toggle="popover" title="優先度">?</a>
                            </tr>
                            <% ucTASK.forEach((item) => { %>
                                <tr class="listRow" onclick="location.href='/edit/<%= item.taskId %>' ">
                                    <td class="check-column" onclick="stopHref()">
                                        <input class="square-check-uc" name="taskCheck" type="checkbox"
                                               value=<%= item.taskId %>>
                                    </td>
                                    <td class="taskID-column">
                                        <%= item.taskId %>
                                    </td>
                                    <td class="title-column">
                                        <%= item.title %>
                                    </td>
                                    <td class="start-column">
                                        <%= item.startDay.toLocaleDateString() %>
                                    </td>
                                    <td class="finish-column">
                                        <%= item.finishDay.toLocaleDateString() %>
                                    </td>
                                    <td class="priority-column">
                                        <img src="/images/prio<%= item.priority %>.svg" style="width:2.2em;" alt="">
                                    </td>
                                </tr>
                            <% }) %>
                        </table>
                    </div>
                    <div class="d-grid gap-2 d-md-flex">

                        <button type="button" id="deBtn-uc" class="deleBtn btn btn-outline-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-x-lg" viewBox="0 0 16 16">
                                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                            </svg>
                            選択した項目を削除する
                        </button>
                        <button type="button" id="compltBtn" class="btn btn-outline-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-check-lg" viewBox="0 0 16 16">
                                <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                            </svg>
                            選択した項目を完成する
                        </button>
                    </div>
                </div>
                <div class="tab-pane fade" id="completed" role="tabpanel" aria-labelledby="completed-tab">
                    <div id="empty-completed" hidden="hidden" class="alert alert-light text-center" role="alert">
                        完了タスクがありません。
                    </div>
                    <div class="table-responsive">
                        <table id="cList" class="table table-hover table-borderless  mb-5">
                            <tr>
                                <th scope="col"><input class="selectAll-c" type="checkbox"/></th>
                                <th scope="col">タスクID</th>
                                <th scope="col">タイトル</th>
                                <th scope="col">予定日</th>
                                <th scope="col">完了日</th>
                                <th scope="col">優先順位 <a tabindex="0" id="priMeaning"
                                                        class="badge rounded-pill bg-light text-dark" role="button"
                                                        data-toggle="popover" title="優先度">?
                                    </a>
                                </th>

                            </tr>
                            <% cTASK.forEach((item) => { %>
                                <tr class="listRow" onclick="location.href='/edit/<%= item.taskId %>' ">
                                    <td class="check-column" onclick="stopHref()">
                                        <input class="square-check-c" name="taskCheck" type="checkbox"
                                               value=<%= item.taskId %>>
                                    </td>
                                    <td class="taskID-column">
                                        <%= item.taskId %>
                                    </td>
                                    <td class="title-column">
                                        <%= item.title %>
                                    </td>
                                    <td class="start-column">
                                        <%= item.startDay.toLocaleDateString() %>
                                    </td>
                                    <td class="finish-column">
                                        <%= item.finishDay.toLocaleDateString() %>
                                    </td>
                                    <td class="priority-column">
                                        <img src="/images/prio<%= item.priority %>.svg" style="width:2.2em;" alt="">
                                    </td>
                                </tr>
                            <% }) %>
                        </table>
                    </div>
                    <div class="d-grid gap-2 d-md-flex">
                        <button type="button" id="deBtn-c" class="deleBtn btn btn-outline-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-x-lg" viewBox="0 0 16 16">
                                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                            </svg>
                            選択した項目を削除する
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <p>©2022 Dairui Zhang.</p>
</footer>
</div>
</body>

<script>
    //-----------------------POPOVER----------------------------------
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover({
            placement: 'top',
            trigger: 'hover',
            html: true,
            content:
                '<img src="/images/arrow-down.svg" style="padding-left: 30px;">' +
                '<img src="/images/prio1.svg">' +
                '<img src="/images/prio2.svg">' +
                '<img src="/images/prio3.svg">' +
                '<img src="/images/prio4.svg">'
        });
    });
    //-----------------------TASK EMPTY----------------------------------
    $(document).ready(function () {

        var num_uc = $("#ucList").find("tr").length;
        var num_c = $("#cList").find("tr").length;

        if (num_uc <= 1) {
            $("#empty-uncompleted").removeAttr("hidden");
            $("#ucList").attr("hidden", "hidden");
            $("#deBtn-uc").attr("hidden", "hidden");
            $("#compltBtn").attr("hidden", "hidden");
        }

        if (num_c <= 1) {
            $("#empty-completed").removeAttr("hidden");
            $("#cList").attr("hidden", "hidden");
            $("#deBtn-c").attr("hidden", "hidden");
        }
    });
    //-----------------------BUBBLE STOP阻止穿透----------------------------------
    var stopHref = function () {
        event.stopPropagation();
    }

    //-----------------------DELETE----------------------------------
    $('.deleBtn').click(function () {
        var arr = [];
        $("input[name='taskCheck']:checked").each(function (i) {
            arr.push($(this).val());
        })
        //console.log(arr);

        if (arr.length != 0) {
            var comf = confirm("選択した項目を削除してもいいですか？");
            if (comf) {
                $.ajax({
                    type: 'post',
                    url: '/delete',
                    traditional: true,
                    dataType: 'json',
                    data: {
                        taskList: arr
                    },
                    async: true,
                    success: function (data) {

                        if (data.code > 0) {
                            alert("削除しました！");
                            window.location.href = '/';
                            // $('.spa1').text(data.msg) //可以选择在网页上显示后端传来的登陆成功的msg
                        } else {
                            //$('.spa1').text(data.msg);
                            alert("削除できませんでした！");
                        }
                    },
                    error: function (error) {
                        console.log(error)
                    }
                })
            } else {
                return false;
            }

        }
    })

    //-----------------------COMPLETE----------------------------------

    $('#compltBtn').click(function () {
        var arr = [];
        $("input[name='taskCheck']:checked").each(function (i) {
            arr.push($(this).val());
        })
        if (arr.length != 0) {
            var comf = confirm("選択した項目の状態を完了に設定してもいいですか？");
            if (comf) {
                $.ajax({
                    type: 'post',
                    url: '/complete',//后端通过这个url来识别这次ajax
                    traditional: true,
                    dataType: 'json',
                    data: {
                        taskList: arr
                    },
                    async: true,
                    success: function (data) {

                        if (data.code > 0) {
                            alert("完了しましたよ！");
                            window.location.href = '/';
                            // $('.spa1').text(data.msg)
                        } else {
                            //$('.spa1').text(data.msg);
                            alert("完了失败！");
                        }//弹出对话框
                    },
                    error: function (error) {
                        console.log(error)
                    }
                })
            } else {
                return false;
            }
        }
    })
</script>
<script>
    //-----------------------SELECT ALL----------------------------------
    //uncompleted
    var isCheckAlluc = false;
    $(".selectAll-uc").change(function () {
        if (isCheckAlluc) {
            $('.square-check-uc').each(function () {
                this.checked = false;
            });
            isCheckAlluc = false;
        } else {
            $('.square-check-uc').each(function () {
                this.checked = true;
            });
            isCheckAlluc = true;
        }
    });
    //completed
    var isCheckAllc = false;
    $(".selectAll-c").change(function () {
        if (isCheckAllc) {
            $('.square-check-c').each(function () {
                this.checked = false;
            });
            isCheckAllc = false;
        } else {
            $('.square-check-c').each(function () {
                this.checked = true;
            });
            isCheckAllc = true;
        }
    });

</script>
<script>
    //-----------------------clear checked boxes when change tab----------------------------------
    $('#uncompleted-tab').click(function () {
        $(".selectAll-uc").prop("checked", false);
        $('.square-check-uc').each(function () {
            this.checked = false;
        });
        $('.square-check-c').each(function () {
            this.checked = false;
        });
    })

    $('#completed-tab').click(function () {
        $(".selectAll-c").prop("checked", false);

        $('.square-check-uc').each(function () {
            this.checked = false;
        });

        $('.square-check-c').each(function () {
            this.checked = false;
        });
    })

</script>
</html>