<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>LIST APP</title>
</head>
<style>
    li{
  		list-style: none;
  	}

  	table{
  border-collapse:collapse;
  }

	table,th, td{
  border: 1px solid black;
  }

 	img{
 		width: 200px;
 	}
  </style>

<body>
    <div class="container">
        <div class="container-header">
            <h1>User List APP</h1>
            <a href="/loginReg"><button>Login</button></a>
            <a href="/register"><button>Register</button></a>
            <img src="/images/sample.png" alt="">
        </div>
        <br><br>
        <div class="user-info">
            User: <span><%= xiaoming %></span><br>
            <a href="/logout">Log Out</a>

        </div>
        =============================================<br><br>
        <a href="/new">
            <button>Add New User</button>
        </a>
        <br><br>
        <h3>Search</h3>
        <div class="search">
        	
        	<form action="/search" method="post">
        		ID:
        		<input type="text" placeholder="Input ID" name="searchID" style="margin-right: 30px;" />

        		<br><br>
        		<input type="submit" value="Search">
        		
            	

        	</form>
        	<a href="/"><button>Display All</button></a>
            
        </div>
        <br><br>
        <h3>Search Result</h3>
        <p>(Defult display all)</p>
        <table>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>pass</th>
                <th>mail</th>
                <th>phone</th>
                <th>address</th>
                <th>delete</th>
                <th>edit</th>
            </tr>
            <% USER.forEach((item) => { %> 
            	<!-- 这里的USER接住了app.js传来的被定义成USER的results，item是新定义的 -->
            <tr>
                <td class="id-column">
                    <%= item.userID %>
                </td>
                <td class="name-column">
                    <%= item.userName %>
                </td>
                <td class="pass-column">
                    <%= item.userPass %>
                </td>
                <td class="mail-column">
                    <%= item.userMail %>
                </td>
                <td class="phone-column">
                    <%= item.userPhone %>
                </td>
                <td class="addr-column">
                    <%= item.userAddr %>
                </td>
                <td class="delete-column">
                    <form action="/delete/<%=item.userID%>" method="post">
                        <input type="submit" value="Delete">
                    </form>
                </td>
                <td>
                    <form action="/edit/<%=item.userID%>">
                        <input type="submit" value="Edit">
                    </form>
                </td>
            </tr>
            <% }) %>
        </table>
    </div>
</body>

</html>